<html>
    <head>
        <script src="https://unpkg.com/vue"></script> <!--link of latest vue-->
        <link rel="stylesheet" href="css/StyleSheet.css">
    </head>
    <body>
        
        <div id='sample-div'>
            <span>{{ sampledata }}</span>
        </div>
        
        <div id='element-handler'>
            <input type='text' v-model='justmsg' placeholder="Input something here..."><br>
            <label>Message is: {{ justmsg }}</label>
            <br>
            <input type="checkbox" id="checkbox" v-model="smplcheck">
            <label>{{ smplcheck }}</label> -- Check if true or false
            <br>
            <!--Multiple Checkboxes-->
            <input type="checkbox" id="Enzo" value='Enzo' v-model="mltplecheck">
            <label for="Enzo">Enzo</label>
            <br>
            <input type="checkbox" id="Lorenzo" value="Lorenzo" v-model="mltplecheck">
            <label for="Lorenzo">Lorenzo</label>
            <br>
            <input type="checkbox" id="Malihan" value="Malihan" v-model="mltplecheck">
            <label for="Malihan">Malihan</label>
            <br>
            <input type="checkbox" id="Cruz" value="Cruz" v-model="mltplecheck">
            <label for="Cruz">Cruz</label>
            <br>
            <span>Chosen: {{ mltplecheck }} </span>
            <br>
            <input type="radio" id="one" value="One" v-model="radiobtn">
            <label>One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="radiobtn">
            <label>Two</label>
            <br>
            <span>Clicked: {{ radiobtn }} </span>
            
        </div>
        <br>
        <div id='tblcontainer' v-model='tblcontainer'>
            <table id='sampletbl'>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th></th>
                    </tr>  
                </thead>
                <tbody>
                    <tr>
                        <td>SampleName</td>
                        <td>SampleAge</td>
                        <td>SampleBirthday</td>
                        <td>SampleAddress</td>
                        <td>
                            <button id='btnedit' v-model='btnedit'>Edit</button>
                            <button id='btndel' v-model='btndel'>Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src='JustJS.js'></script>
    </body>
</html>